/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.hero-div-posts {
    height: 300px;
    width: auto;
    margin: 0;

    overflow: hidden;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: var(--bgc-lightgrey);
    background-image: url(/assets/images/hero-no-sat.svg);
    background-position: right top;
    background-repeat: no-repeat;

}

.hero-div-logo-background-b {
    overflow: hidden;
}

.hero-div-logo-b {
    width: 350px;
    margin: 0px;
}

.hero-div-logo-b h1 {
    
    border: 3px solid yellowgreen;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
    -webkit-animation: fadein 2s ease-in 0s forwards;
            animation: fadein 2s ease-in 0s forwards;
}