/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.cv-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.cv-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-color: transparent;
    overflow: visible;
}

.cv-container-content {
    padding: 0 60px;
    margin: auto;
    max-width: 1200px;
}

.cv-container-content hr{
    color: yellowgreen;
}

.cv-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}

.cv-header figure{
    margin: 0px;
    padding: 0px;
}

.cv-header img{
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0px 0px 4px var(--bgc-lightgrey));
            filter: drop-shadow(0px 0px 4px var(--bgc-lightgrey));
}

.cv-header-text {
    padding: 0px 20px;
}

.cv-section {
    padding: 0px 20px;
    margin-top: 30px;
}

.cv-section h1{
    font-size: 2rem;
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid black;
}

.cv-section p {
    margin: 0;
    margin-left: 20px;
}

.where-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.where-date h2, h3{
    color: var(--bgc-dakblue);
    margin: 0px;
    margin-bottom: 5px;
}

.cv-section h4 {
    margin: 20px 0px 5px 0px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
}

.cv-section ul {
    list-style-type: circle;
    margin: 5px 0px 5px 5px;
}

.cv-section-content {
    margin: 20px 0px 30px 0px;
}

@media only screen and (max-width: 1000px) {
    .cv-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .where-date {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .where-date h2, h3{
        color: var(--bgc-dakblue);
        margin: 0px;
    }

    .cv-container-content {
        padding: 0 30px;
    }
}